.main {

}
.first {
    /* max-width: 1280px;
    min-width: 350px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first__wrap {
    /* max-width: 1280px;
    min-width: 350px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 58px;
}
.first__wrap-title {
    white-space: nowrap;
    font-size: 90px;
    font-weight: 600;
}
.first__wrap-text {
    white-space: nowrap;
    font-size: 15px;
    font-weight: 500;
}

.first__wrap-image {
    width: 100%;
}
.first__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.infoBlock {
    position: relative;
    width: 170px;
    /* margin: auto; */
    padding-left: 83px;
}
.infoBlock-img {
    display: inline-block;
    margin-right: 14px;
}
.infoBlock-img-firstSize {
    position: relative;
    bottom: 8px;
    width: 46px;
    height: 35px;
}
.infoBlock-img-secondSize {
    width: 27px;
    height: 43px;
}
.infoBlock__data {
    display: inline-block

}
.infoBlock__data-title {
    font-size: 35px;
    font-weight: 600;
}
.infoBlock__data-title span {
    font-size: 20px;
    font-weight: 500;
}
.infoBlock__data-text {
    font-size: 12px;
}
.btn-block {
    display: flex;
    align-items: center;
    width: 430px;
    padding-left: 108px;
}
.btn-block__info {
    /* position: relative; */
    padding-left: 10px;
    display: inline-block;
    text-align: center;
} 
.btn-block__info-img {
   line-height: 22px;
    width: 150px;
    height: 22px;
    background: url(images/steering-wheel.svg) no-repeat;

}
.btn-block__info-link {
    margin-left: 11px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    font-weight: bold;
}
.btn-block__info-img:hover {
    color: #E51937;
    background: url(images/steering-wheel-red.svg) no-repeat;
}
.btn-block__button {
    margin-left: 40px;
    width: 160px;
    height: 40px;
    border: 2px solid #E51937;
    background-color: transparent;
    font-size: 13px;
    color: #E51937;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.btn-block__button:hover {
    background-color: #E51937;
    color: white;
}
.down {
    margin-top: 40px;
}