 <div class="first">
    <section class="first__wrap">
        <h1 class="first__wrap-title">Model S</h1>
        <p class="first__wrap-text">Добро пожаловать в будущее!</p>
        <img class="first__wrap-image"src="images/Tesla logo + car.png" alt="">
    </section>      
    <section class="first__info">
        <div class="infoWrap">
            <article class="infoBlock">
                <img class="infoBlock__img infoBlock__img-firstSize" src="images/Speed.svg" alt="">
                <div class="infoBlock__data">
                    <h4 class="infoBlock__data-title">2,7 <span>сек</span></h4>
                    <p class="infoBlock__data-text">0-100 км/час</p>
                </div>
            </article>
            <article class="infoBlock">
                <img class="infoBlock__img infoBlock__img-secondSize "src="images/Road icon.svg" alt="">
                <div class="infoBlock__data">
                    <h4 class="infoBlock__data-title">632 <span>км</span></h4>
                    <p class="infoBlock__data-text">запас хода</p>
                </div>
            </article>
        </div>
        <article class="btn-block">
            <div class="btn-block__info">
                <a class="btn-block__info-link" href="#">
                    <div class="btn-block__info-img">
                        ТЕСТ ДРАЙВ
                    </div>
                </a>
            </div>
            <button class="btn-block__button">ЗАКАЗАТЬ</button>
        </article>
    </section>    
    <div class="down">
        <button class="down__btn">
                <img class="down__img" src="images/Vector.svg" alt="">
        </button>
    </div>        
</div>