 <header class="head">
        <img class="logo" src="images/Tesla-Wordmark-Red.png" alt="TESLA">
        <nav class="menu">
            <a class="menu__item" href="#">Model S</a>
            <a class="menu__item" href="#">Model X</a>
            <a class="menu__item" href="#">Model 3</a>
            <a class="menu__item" href="#">Roadster</a>
            <a class="menu__item" href="#">Energy</a>
        </nav>
        <div class="sideMenu">
            <a class="sideMenu__item" href="#">Магазин</a>
            <a class="sideMenu__item" href="#">Войти</a>
            <div class="sideMenuBtn">
                <div class="sideMenuBtn__item sideMenuBtn__item-first"></div>
                <div class="sideMenuBtn__item sideMenuBtn__item-second"></div>
                <div class="sideMenuBtn__item sideMenuBtn__item-third "></div>
            </div>
        </div>
    </header>