<div class="second">
    <img class="backImage" src="images/2013-tesla-model-s-cockpit.png" alt="">
    <section class="second__wrap">
        <h2 class="second__wrap-title">Model S</h2>
    </section>
    <section class="second__info">
        <div class="info">
            <article class="info__block">
                <h3 class="info__block-title">Будущее вождения</h3>
                <p class="info__block-text">
                    Модель S обладает лучшей в своем классе вместимостью: в машине поместится до пяти взрослых и двух детей.Оснащенасовременным17-дюймовымсенсорным экраном. Усовершенствованная шумовая инженерия создает динамику звука, сравнимую сстудиейзвукозаписи, астеклянная крышаобеспечивает просторный интерьер для каждого пассажира.
                </p>
            </article>
        </div>
        <div class="footnote">
            <article class="infoBlock">
                <img class="infoBlock__img" src="images/screen.svg   " alt="">
                <div class="infoBlock__data">
                    <h4 class="infoBlock__data-title">17 <span>дюймов</span></h4>
                    <p class="infoBlock__data-text">Большой дисплей</p>
                </div>
            </article>
            <article class="infoBlock">
                <img class="infoBlock__img infoBlock__img-secondBlockSize" src="images/Group.svg" alt="">
                <div class="infoBlock__data">
                    <h4 class="infoBlock__data-title infoBlock__data-titleSmall">Беспроводное <br> обновление ПО</h4>
                    <p class="infoBlock__data-text">Повышенная <br> функциональность</p>
                </div>
            </article>
            <article class="infoBlock">
                <img class="infoBlock__img" src="images/bag.svg" alt="">
                <div class="infoBlock__data">
                    <h4 class="infoBlock__data-title">894 <span>литра</span></h4>
                    <p class="infoBlock__data-text">Объем грузового <br> пространства</p>
                </div>
            </article>
        </div>
        <article class="btn-secondBlock">
            <div class="btn-block__info">
                <a class="btn-block__info-link" href="#">
                    <div class="btn-block__info-img btn-block__info-imgSecond"></div>
                </a>
            </div>
            <button class="btn-block__button btn-block__buttonSecond">ЗАКАЗАТЬ</button>
        </article>
    </section>
</div>