<div class="third">
    <section class="third__info">
        <div class="info">
            <article class="info__block">
                <h3 class="info__block-title">Самый безопасный автомобиль в мире</h3>
                <p class="info__block-text">
                    Модель S достигла наивысшей оценки безопасности любого автомобиля, когда-либо испытанного, и установила рекорд по наименьшей вероятноститравмы пассажиров - от несчастных случаев на переднем, боковом, заднем сидении и в ДТП с переворотом авто.
                </p>
            </article>
            <article class="info__wrap">
                <h3 class="info__wrap-title info__wrap-titleThird">Оценка защиты:</h3>
                <div class="info__item">
                    <p class="info__item-text info__item-textThird">СПЕРЕДИ</p>
                    <div class="info__item-img"></div>
                </div>
                <div class="info__item">
                    <p class="info__item-text info__item-textThird">СБОКУ</p>
                    <div class="info__item-img"></div>
                </div>
                <div class="info__item">
                    <p class="info__item-text info__item-textThird">СБОКУ<span>(стойка)</span></p>
                    <div class="info__item-img"></div>
                </div>
                <div class="info__item">
                    <p class="info__item-text info__item-textThird">ВОДИТЕЛЬ</p>
                    <div class="info__item-img"></div>
                </div>
                <div class="info__item">
                    <p class="info__item-text info__item-textThird">ПАССАЖИР</p>
                    <div class="info__item-img"></div>
                </div>
            </article>
            <article class="fiveStar">
                <img class="fiveStar__img" src="images/5star.svg" alt="">
                <h3 class="fiveStar__title">5 звезд <span>безопасности</span></h3>
            </article>
            <article class="btn-thirdBlock">
                <div class="btn-block__info">
                    <a class="btn-block__info-link" href="#">
                        <div class="btn-block__info-img btn-block__info-imgSecond"></div>
                    </a>
                </div>
                <button class="btn-block__button btn-block__buttonSecond">ЗАКАЗАТЬ</button>
            </article>
        </div>
    </section>
    <section class="third__wrap">
        <img class="third__wrap-image" src="images/Car frame group.png" alt="">
        <img class="third__wrap-back" src="images/Model S.png" alt="">
    </section>
</div>